<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% messages.forEach((msg) => {%>
      <li><%= msg.user %></li>
      <li><%= msg.text %></li>
      <li><%= msg.added %></li>
      <% })%>
    </ul>
    <a href="/new">New message</a>
  </body>
</html>
